@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
     height: 100%;
 }
body{
    font-family:'Lato', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(45deg,
    rgba(253, 149, 192, 1) 0%,
    rgba(195, 95, 204, 1) 38%,
    rgba(175, 104, 241, 1) 66%,
    rgba(175, 104, 241, 1) 84%,
    rgba(168, 125, 255, 1) 100%) no-repeat;
    padding: 50px;
}

main {
    text-align: center;
    width: 65%;
    margin: 0 auto;
    background-color: #2D3154;
    border-radius: 15px;
    padding: 20px;
}

.plan-types{
    margin-bottom: 50px;
    margin-left: 60px;
}

#basic-plan {
    background-image: url("img/plan-background-basic.png");
    background-size: 220px 150px;
    background-repeat: no-repeat;
}

.card-type {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 15px;
    width: 220px;
    height: 300px;
    margin: 0 10px;
}

ul{
    list-style-type: none;
}

#pro-plan{
    background-image: url("img/plan-background-pro.png");
    background-size: 220px 150px;
    background-repeat: no-repeat;
}
#med-plan{
    background-image: url("img/plan-background-med.png");
    background-size: 220px 150px;
    background-repeat: no-repeat;
}

.title{
    padding-top: 42px;
    font-size: 42px;
}

.price{
    text-align: left;
    margin-top: 15px;
    font-size: 42px;
    color:#000000;
    margin-top: 50px;
    padding-left: 50px;
}

.price:first-letter{
    font-size: 28px;
}

.plan{
    margin-left: 50px;
    margin-top: 10px;
    color:#000000;
    text-align: left;
}

button{
    color: #ffffff;
    font-weight: bold;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50%;
    border: transparent;
    background: linear-gradient(45deg,
    rgba(253, 149, 192, 1) 0%,
    rgba(195, 95, 204, 1) 38%,
    rgba(175, 104, 241, 1) 66%,
    rgba(175, 104, 241, 1) 84%,
    rgba(168, 125, 255, 1) 100%) no-repeat;
}

.chosen-plan {
    border-radius: 50%;
    background-color: transparent;
}

.information{
    color: #ffffff;
}
.information .plan-title{
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-left: 75px;
}

.information .plan-descirption{
    text-align: left;
    margin-bottom: 45px;
    margin-left: 75px;
}

.continue {
    background: linear-gradient(45deg,  #C09478 0%,#D0536D 100%);
    border-radius: 10px;
    padding: 15px 25px;
    text-transform: capitalize;
    margin: 0 auto;
}

.continue:hover{
    cursor: pointer;
    background: linear-gradient(45deg,
    rgba(226,177,132,1) 0%,
    rgba(224,122,95,1) 40%,
    rgba(219,98,118,1) 60%,
    rgba(219,91,107,1) 80%,
    rgba(206,82,110,1) 100%);
}